

#canvas {
 width: 700px;
 height: 600px;
 margin: 0 auto;
 display: block;
 border: 3px solid black;
}


.score{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 600px;
    margin-bottom: 800px;
    border: 3px solid black;
}



.game-screen {
    width: 80%;
    height: 80vh;
}
